{% extends "base.html" %}
{% block content %}


<div id="comment-div" class="span9">
    <!--  we load this up dynamically -->
</div>


<br/>

<div id="buttons1" class="span9">
     <div class="button_group">
         <a href="#" id="ironic" class="ironyBtn1">ironic</a> 
         <a href="#" id="unironic" class="ironyBtn1"><b><i>not</i></b> ironic</a> 
         <a href="#" id="toggle_all" class="ironyBtn1">mark all as ironic</a> 
         <br/>
         <!-- <a href="#" id="context_button" class="ironyBtn1">hm ... I need some context ...</a> -->
       
         <br/>
         <a href="#" id="show_page" target="_blank" class="ironyBtn1"><b>webpage</b> <img src="{{ STATIC_URL }}/static/images/external-link.png"/></a>
         <a href="#" id="show_thread" target="_blank" class="ironyBtn1">reddit <b>thread</b> <img src="{{ STATIC_URL }}/static/images/external-link.png"/></a>

     </div>
</div>


<div id="buttons2" class="span9">
    
    <div class="button_group_prev_next">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
            <input type="radio" name="conf" id="conf_low"> low
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="conf" id="conf_med"> medium
            </label>
            <label class="btn btn-primary">
            <input type="radio" name="conf" id="conf_high"> high
            </label>
        </div>
     
     <a href="#" id="next_button" class="ironyBtn2">OK! next comment &rarr;</a>
     </div>
</div>



<script>  
    // mark the dialog as such
    $(function() {
      $( "#dialog" ).dialog(
            { autoOpen: false,
                height:200,
                width:600
            });
    });

    var toggledOn = false;
    var ironicBgColor = "rgb(255, 255, 0)";
    var unironicBgColor = "rgba(0, 0, 0, 0)";

    function _get_conf(){
        var conf_id = $("input:radio[name='conf']:checked")[0].id;
        return conf_id;
    }

    function _is_active_span(span){
        // span is assumed to be a <span> element
        // we will just assume if it does not have a 
        // border, then it is inactive.
        return !(span.style['border']=="");
    }

    function _is_ironic_span(span){
        return span.style['background-color'] == ironicBgColor;
    }

    function _get_ironic_spans(){
        return $("span").filter(function() { 
            return $(this).css('backgroundColor') == ironicBgColor; 
        });
    }

    function _activate_span(span){
        $("#comment-div").find("span").css("border", ""); // clear all
        span.style['border']='2px dotted'; // activate this guy
        //'padding-bottom':'1px'}); // activate this guy
    }

    function _get_active_span(){
        all_spans = $("#comment-div").find("span");
        for (var span_i = 0; span_i < all_spans.length; span_i++){
            cur_span = all_spans[span_i];
            if (_is_active_span(cur_span)){
               return [cur_span, span_i]
            }
        }     
    }

    function _mark_span_unironic(span_id){
        //$(span_id).removeAttr('style');
        $(span_id).css("background-color", unironicBgColor);
    }

    function _mark_span_ironic(span_id){
        $(span_id).css("background-color", ironicBgColor);
    }

    // syntactic high-fructose corn syrup.
    function _get_active_span_id(){
        return _get_active_span()[0];
    }


    $("#toggle_all").click(function() {
        var bgColor = ironicBgColor;
        if (toggledOn){
            // then we want to clear it.
            bgColor = unironicBgColor;
            toggledOn = false;
            $("#toggle_all").text("mark all as ironic");
        } else {
            toggledOn = true;
            $("#toggle_all").text("clear annotations");
        }
        $("#comment-div").find("span").css({'background-color':bgColor});
    }); 

    function _advance_active_span(){
        var active_span = _get_active_span();
        var span_i = active_span[1];
        next_span_i = span_i + 1;
        if (next_span_i == $("#comment-div").find("span").length){
            next_span_i = 0; // loop around to start
        }
        _activate_span(all_spans[next_span_i]); 
    }

    $("#ironic").click(function() {
        var active_span_id = _get_active_span_id(); // [span, span_index]
        _mark_span_ironic(active_span_id);
        _advance_active_span();
    }); 


    $("#unironic").click(function() {
        var active_span_id = _get_active_span_id(); // [span, span_index]
        _mark_span_unironic(active_span_id);
        _advance_active_span();
    }); 

    $("#next_button").click(function() {
        /** this is where we actually do the annotation **/
        highlighted_spans = _get_ironic_spans()

        var highlighted_segment_ids = new Array(highlighted_spans.length);
        for (var span_i = 0; span_i < highlighted_spans.length; span_i++) {
            highlighted_segment_ids[span_i] = highlighted_spans[span_i].id
        }

        var conf_id = _get_conf();

        $.ajax({
            type: "POST",
            url:"/annotate_segments/",
            data: {
                'ironic_segments': highlighted_segment_ids,
                'comment_id': comment_id,
                'viewed_webpage':viewed_webpage,
                'viewed_thread':viewed_thread,
                'confidence':conf_id,
                'forced_decision':false,
            },
            success: function(){
                // load next comment....
                //alert('success?')
                $("#comment-div").load("/get_next_comment_fragment/");
            },
            error: function(){
                alert("oh, dear. something went wrong. try again?");
            }
        });
    });

    $(document).ready(function() {
        // initial load
        $("#comment-div").load("/get_comment_segments/{{comment.id}}");
    });

</script>

<div id="dialog" title="We get it. This is confusing.">
    <p>But, before you contextualize the comment, <b>if you had to make a decision right now, would you say that this comment contains any irony?</b></p>
    <br/>
    
    <div class="button_group_prev_next">
        <label class="btn btn-primary">
        <input type="radio" name="conf-pre" id="conf_low_pre"> low
        </label>
        <label class="btn btn-primary">
        <input type="radio" name="conf-pre" id="conf_med_pre"> medium
        </label>

        <a href="#" id="contains-irony-pre" class="ironyBtnPre">yes</a> 
        <a href="#" id="unironic-pre" class="ironyBtnPre">no</a> 
     </div>
</div>

<script>
    $("#contains-irony-pre").click(function() {
        _open_link_and_close_dialog();
    });

    $("#unironic-pre").click(function() {
        //alert(external_link);
        _open_link_and_close_dialog();
    });


    function _open_link_and_close_dialog(){
        window.open(
            external_link.href,
            '_blank');

        if (dialog_for_webpage){
            //alert("viewed webpage!");
            viewed_webpage = true;
        } else {
            //alert("viewed thread!");
            viewed_thread = true;
        }
        dialog_for_webpage = null;

        // close the dialog
        $("#dialog").dialog("close");
    }



</script>

</div>
{% endblock %}