<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="http://assets.annotateit.org/annotator/v1.2.5/annotator-full.min.js"></script>
<link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.5/annotator.min.css">

<script>
//alert('hi!');
//alert('{{storage_api_base_url}}');
jQuery(function ($) {
    $('#content').annotator()
                 .annotator('setupPlugins')
                 .annotator('addPlugin', 'Store', {
                      prefix: 'http://127.0.0.1:8000/',
                      annotationData: {
                        'comment': {{comment.id}}
                      },
                      loadFromSearch: {
                        'comment': {{comment.id}}
                      }
                    });
});
</script>

</head>


<body>
<br/><br/><br/>
<div id="content">
    Hello. My name is Byron.
</div>



</body>
</html>