<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ironist</title>
    <link href="/static/bootstrap/css/bootstrap-byron.css" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <style type ="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <!-- navbar -->
    <div class="navbar navbar-fixed-top">  
      <div class="navbar-inner">  
        <div class="container">  
          <ul class="nav">  
            <li class="active">  
              <a class="brand" href="#">tag</a>  
            </li>  
            <li><a href="/accounts/logout">log out</a></li>  
            <li><a href="#">metrics</a></li>
          </ul>  
        </div>  
      </div>  
    </div>   
   


    
    {% block content %}
    {% endblock %}
   
</body>
</html>