    <div class="content">
        <script>
          // note the corresponding comment id.
          var comment_id = {{comment_id}};
        </script>

        {% for segment in segments %}
            <!-- <span id="s{{ forloop.counter0 }}" >{{segment.text|linebreaksbr}}</span> -->
           <span id="sid{{segment.id}}">{{segment.text|linebreaksbr}}</span>
           {% if forloop.counter0 == 0 %}
                <script>
                  // 'activate' the first segment
                  var firstSpan = $("#comment-div").find("span")[0];
                  _activate_span(firstSpan)
                </script>
           {% endif %}

           <script>
             // if the user clicks this sentence (span), then 'activate'
             // it
             $("#sid{{segment.id}}").live('click', function() {
                var thisSpan = $("#comment-div").find("span")[{{forloop.counter0}}];
                _activate_span(thisSpan);
             });
           </script>
        {% endfor %}
        <br/><br/>
    </div>